.logo {
  font-weight: bold;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 12px;

  &.active-link {
    border-bottom: 2px solid white;
  }
}
